{% extends 'base.html' %}
{% load static %}

{% block content %}

 <nav>

  <div class = "logo">
   {#   <a href = "#1">#}
   <img src = "{% static 'img/icons/logo.png' %}" alt = "">
   {#   </a>#}
  </div>
  <div class = "mini-logo">
   {#   <a href = "#1">#}
   <img src = "{% static 'img/icons/logo.png' %}" alt = "">
   {#   </a>#}
  </div>

  <ul>
   <li>
    <a href = "#1">
     <i class = "fa fa-home"></i>
     <em>Home</em>
    </a>
   </li>
   <li>
    <a href = "#2">
     <i class = "fa fa-user"></i>
     <em>About</em>
    </a>
   </li>
   <li>
    <a href = "#3">
     <i class = "fa fa-pencil"></i>
     <em>Philosophy</em>
    </a>
   </li>
   <li>
    <a href = "#4">
     <i class = "fa fa-image"></i>
     <em>Portfolio</em>
    </a>
   </li>
   <li>
    <a href = "#5">
     <i class = "fa fa-envelope"></i>
     <em>Contact</em>
    </a>
   </li>
  </ul>

 </nav>

 <div class = "slides">
  <div class = "slide" id = "1" style = 'overflow: hidden !important'>
   <div class = "content first-content">
    <div class = "container-fluid">

     <div class = "col-md-3">
      <div class = "author-image">
       <img src = "{% static 'img/author_image_au.png' %}" alt = "">
      </div>
     </div>

     <div class = "col-md-9 author-text">
      <h2>Aubrey D. Morales-Figueroa</h2>
      <p>
       As a dedicated professional with a solid academic background and practical experience in genetics and
       molecular biology, I am on the path to completing my
       <em>Master's in Data Science</em>
       , with a focus on
       Computational Biology and Bioinformatics, anticipated to graduate
       <em>magna cum laude</em>
       in August 2024. My
       academic journey has been marked by a deep engagement and exceptional performance across a wide
       range of subjects, such as Statistical Programming, Data Mining, Multivariate Data Analysis, Data
       Visualization, Data Storage Systems, and both Supervised and Unsupervised Machine Learning.
      </p>
      <p>
       This diverse and comprehensive skill set, augmented by my hands-on laboratory experience across
       various scientific disciplines, uniquely qualifies me for advanced roles in
       <em>Bioinformatics</em>
       ,
       <em>Data Science</em>
       ,
       and
       <em>Machine Learning</em>
       . My academic accomplishments and practical experiences reflect my unwavering
       commitment to contributing significantly to these dynamic fields. Through a blend of rigorous education
       and real-world application, I have honed my abilities to analyze complex datasets, derive insightful
       conclusions, and apply these findings to drive research and innovation forward.
      </p>

      <em style = 'color: whitesmoke'>LINKS TO CODE SAMPLES -GITHUB:</em>
      <p></p>

      <ul style = 'margin-left: -3px;'>
       <li style = "font-family: 'Open Sans', sans-serif; font-size: 13px;">
        <a href = "https://github.com/dtebar-10010/tebar_software_git" target = "_blank" class = "white-on-hover text-decoration: none;">TBD</a>
        <ul>
         <li style = "margin-left: 20px; margin-top: 9px; font-family: 'Open Sans', sans-serif; font-size: 11px; color:whitesmoke;">TBD</li>
        </ul>
       </li>
      </ul>

      <ul style = 'margin-left: -3px;'>
       <li style = "font-family: 'Open Sans', sans-serif; font-size: 13px;">
        <a href = "https://github.com/dtebar-10010/tebar_software_git" target = "_blank" class = "white-on-hover text-decoration: none;">TBD</a>
        <ul>
         <li style = "margin-left: 20px; margin-top: 9px; font-family: 'Open Sans', sans-serif; font-size: 11px; color:whitesmoke;">TBD</li>
        </ul>
       </li>
      </ul>

      <ul style = 'margin-left: -3px;'>
       <li style = "font-family: 'Open Sans', sans-serif; font-size: 13px;">
        <a href = "https://github.com/dtebar-10010/tebar_software_git" target = "_blank" class = "white-on-hover text-decoration: none;">TBD</a>
        <ul>
         <li style = "margin-left: 20px; margin-top: 9px; font-family: 'Open Sans', sans-serif; font-size: 11px; color:whitesmoke;">TBD</li>
        </ul>
       </li>
      </ul>

      <ul style = 'margin-left: -3px;'>
       <li style = "font-family: 'Open Sans', sans-serif; font-size: 13px;">
        <a href = "https://github.com/dtebar-10010/tebar_software_git" target = "_blank" class = "white-on-hover text-decoration: none;">TBD</a>
        <ul>
         <li style = "margin-left: 20px; margin-top: 9px; font-family: 'Open Sans', sans-serif; font-size: 11px; color:whitesmoke;">TBD</li>
        </ul>
       </li>
      </ul>

      <ul style = 'margin-left: -3px;'>
       <li style = "font-family: 'Open Sans', sans-serif; font-size: 13px;">
        <a href = "https://github.com/dtebar-10010/tebar_software_git" target = "_blank" class = "white-on-hover text-decoration: none;">TBD</a>
        <ul>
         <li style = "margin-left: 20px; margin-top: 9px; font-family: 'Open Sans', sans-serif; font-size: 11px; color:whitesmoke;">TBD</li>
        </ul>
       </li>
      </ul>

     </div>
    </div>
   </div>
  </div>

  <div class = "slide" id = "2" style = 'overflow: hidden;'>
   <div class = "content second-content">
    <div class = "container-fluid">
     <div class = "col-md-6">
      <div class = "left-content" id = "myTextContainer">
       <h2>It's All About Me</h2>

       <br>
       University of Florida Bachelor of Science (
       <em>B.S.</em>
       ), Genetics, 2015;
       <br>
       Lewis University Master of Science (
       <em>M.S.</em>
       ), Data Science with concentration in Bioinformatics and
       Computational Biology.
       <em>Magna Cum Laude</em>
       Honors - Graduation August 2024;
       <hr>
       <br>
       <em>Languages:</em>
       Python, R, SQL, SAS, MATLAB, Java;
       <br>
       <em>Development Environments:</em>
       Jupyter Notebooks, PyCharm;
       <br>
       <em>Libraries/Tools:</em>
       NumPy, Pandas, SciPy, Matplotlib, Seaborn, Biopython, Bioconductor, Plotly, Beautiful Soup,
       GenomeStudio, BLAST, BWA, Bowtie, SAMtools, UCSC Genome Browser, Ensembl, Docker,
       ScikitLearn, TensorFlow, Keras, PyTorch, FastAI;
       <br>
       <em>Data Management:</em>
       SQL, Hadoop, Data Mining, Cloud Computing Platforms (AWS, Google Cloud),
       Version Control (Git, GitHub);
       <br>
       <em>Concepts:</em>
       Object-Oriented Programming (OOP) principles and implementations;
       <hr>
       <br>
       <em>Focus Areas:</em>
       Machine Learning (ML), Artificial Intelligence (AI), Informatics, Pattern Recognition, Data Analysis,
       Predictive Modeling, Natural Language Processing (NLP), Reinforcement Learning, Neural Networks, Deep Learning,
       Analytics, Business Intelligence, Predictive Analytics, Computer Science, Microsoft Office, Google Docs, Google Colaboratory;
       <hr>
       <br>
       <em>Techniques and Technologies:</em>
       Feature Engineering, Model Training and Evaluation, Computer Vision (image and face
       recognition), Statistical Analysis & Modeling, Principal Component Analysis (PCA), Linear
       Discriminant Analysis (LDA), k-means Clustering, Hierarchical Clustering, Anomaly
       Detection, Time Series Analysis, Survival Analysis, Ensemble Methods (including
       Random Forests), Sequence Analysis, Gene Expression Analysis, Protein Structure Prediction,
       NGS Analysis (alignment, variant calling), Comparative Genomics,
       Molecular Biology, PCR, qRT-PCR, Human Genomics, Genetics, Genotyping, Illumina,
       Microarray, Next Generation Sequencing (NGS), Cell Culture, Virology, iPSCs,
       Macrophage/Microglia, Immunohistochemistry, Immunoassays, ELISA, Flow Cytometry,
       DNA/RNA Isolation, QC, Microscopy, Laboratory Management.

      </div>
     </div>
     <div class = "col-md-6">
      <div class = "right-image">
       <img src = "{% static 'img/about_image_au2.png' %}" alt = "" style = "margin-right: 6px;">
      </div>
     </div>
    </div>
   </div>
  </div>

  <div class = "slide" id = "3" style = 'overflow: hidden !important;'>
   <div class = "content third-content">
    <div class = "container-fluid">
     <div class = "col-md-12">
      <div class = "row">

       <div class = "first-section">
        <div class = "container-fluid">
         <div class = "row">
          <div class = "col-md-6">
           <div class = "left-content">
            <h2>Software is an art</h2>
            <p>I believe that the beauty of software programs extends
             well beyond the objects one sees in the screens.
             Software code can, and should be created in beautiful,
             and elegant ways. Beauty is equal to truth.</p>
           </div>
          </div>
          <div class = "col-md-6">
           <div class = "right-image" style = "margin-bottom: 3px; margin-top:3px;  margin-right: -33% !important; 'overflow: hidden !important;'">
            <img src = "{% static 'img/first_service_au.png' %}" alt = "" style = "opacity: 1.0 !important; transform: scale(1.0);">
           </div>

          </div>
         </div>
        </div>
       </div>

       <div class = "second-section">
        <div class = "container-fluid">
         <div class = "row">
          <div class = "col-md-6">
           <div class = "left-image" style = 'margin-top: 3px; margin-left:-33px; overflow-x: hidden !important;'>
            <img src = "{% static 'img/second_service_au.jpg' %}" alt = "" style = "opacity: 0.2 !important; transform: scale(1.0);">
           </div>
          </div>
          <div class = "col-md-6">
           <div class = "right-content" style = 'margin-top: 36px; overflow: hidden !important;'>
            f
            <h2>Software is a science</h2>
            <p>I always address computer programming as an engineering
             discipline. I take the time to design well before I
             write a single line of code.
             I use proven patterns that have been thoroughly validated
             through time. I test, and test, and test. My systems
             are as foolproof as humanly possible;
             my algorithms, as efficient as possible.</p>
           </div>
          </div>
         </div>
        </div>
       </div>

      </div>
     </div>
    </div>
   </div>
  </div>

  <div class = "slide" id = "4" style = 'overflow: hidden !important'>
   <div class = "content fourth-content">
    <div class = "container-fluid">
     <div class = "row">

      <div class = "col-md-4 col-sm-6">
       <div class = "item">
        <div class = "thumb">
         <img src = "{% static 'img/portfolio/01-portfolio.jpg' %}" alt = "">
         <div class = "hover-effect">
          <div class = "hover-content">
           <h2>Lewis University</h2>
           <p>Master of Science (
            <em>M.S.</em>
            ), Data Science
           </p>
          </div>
         </div>
        </div>
       </div>
      </div>

      <div class = "col-md-4 col-sm-6">
       <div class = "item">
        <div class = "thumb">
         <img src = "{% static 'img/portfolio/02-portfolio.jpg' %}" alt = "">
         <div class = "hover-effect">
          <div class = "hover-content">
           <h2>University of Florida</h2>
           <p>Bachelor of Science (
            <em>B.S.</em>
            ), Genetics
           </p>
          </div>
         </div>
        </div>
       </div>
      </div>

      <div class = "col-md-4 col-sm-6">
       <div class = "item">
        <div class = "thumb">
         <img src = "{% static 'img/portfolio/03-portfolio.jpg' %}" alt = "">
         <div class = "hover-effect">
          <div class = "hover-content">
           <h2>University of Miami Miller School of Medicine</h2>
           <p>Virology researcher</p>
          </div>
         </div>
        </div>
       </div>
      </div>

      <div class = "col-md-4 col-sm-6">
       <div class = "item">
        <div class = "thumb">
         <img src = "{% static 'img/portfolio/04-portfolio.jpg' %}" alt = "">
         <div class = "hover-effect">
          <div class = "hover-content">
           <h2>GenoSur</h2>
           <p>Molecular technologist</p>
          </div>
         </div>
        </div>
       </div>
      </div>

      <div class = "col-md-4 col-sm-6">
       <div class = "item">
        <div class = "thumb">
         <img src = "{% static 'img/portfolio/05-portfolio.jpg' %}" alt = "">
         <div class = "hover-effect">
          <div class = "hover-content">
           <h2>ChatGPT</h2>
           <p>Effective AI prompt engineering</p>
          </div>
         </div>
        </div>
       </div>
      </div>

      <div class = "col-md-4 col-sm-6">
       <div class = "item">
        <div class = "thumb">
         <img src = "{% static 'img/portfolio/20-portfolio.jpg' %}" alt = "">
         <div class = "hover-effect">
          <div class = "hover-content">
           <h2>Languages/Technologies</h2>
           <p>Python; Django; PostgreSQL; Dart; Flutter; Docker; Git; UML; Pycharm; TensorFlow; ML/AI; SASS-CSS,
            and others.</p>
          </div>
         </div>
        </div>
       </div>
      </div>

     </div>
    </div>
   </div>
  </div>

  <div class = "slide" id = "5" style = 'overflow: hidden !important'>
   <div class = "content fifth-content">
    <div class = "container-fluid">
     <div class = "col-md-6">

      <form id = "ContactForm" action = "{% url 'contact' %}" method = "post" class = "bootstrap3" style = "margin-top: 50px">
       {% csrf_token %}

       <div class = "form-group row">
        <label for = "id_name" class = "col-sm-2 col-form-label" style = "color: green;">NAME</label>
        <div class = "col-sm-10">
         {{ form.name }}
        </div>
       </div>

       <div class = "form-group row">
        <label for = "id_email" class = "col-sm-2 col-form-label" style = "color: green;">EMAIL</label>
        <div class = "col-sm-10">
         {{ form.email }}
        </div>
       </div>

       <div class = "form-group row">
        <label for = "id_message" class = "col-sm-2 col-form-label" style = "color: green;">MESSAGE</label>
        <div class = "col-sm-10">
         {{ form.message }}
        </div>
       </div>

       <div class = "form-group row">
        <div class = "col-sm-12">
         <button type = "submit" id = "form-submit" class = "btn" style = "color: green; font-weight: bold;">SEND</button>
        </div>
       </div>

      </form>

     </div>
    </div>
   </div>
  </div>

 </div>


{% endblock %}
